.custom-vis-layout.customgantt #tooltip {
 background: rgba(0, 0, 0, 0.8);
 padding: 12px;
 border-radius: 2px;
 width: auto;
 height: auto;
 color: rgb(255, 255, 255);
 line-height: 1;
 font-weight: bold;
 position: absolute;
 pointer-events: none;
 box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 10px;
 }

.custom-vis-layout.customgantt .hidden#tooltip {
 display: none;
 }

.custom-vis-layout.customgantt #tooltip p {
 margin: 0px;
 font-family: sans-serif;
 }

.custom-vis-layout.customgantt .hidden#yAxisTitle {
 display: none;
 }

.custom-vis-layout.customgantt .tickY {
 stroke: black;
 }

.custom-vis-layout.customgantt .task-bar:hover {
 fill-opacity: 0.7;
 }

.custom-vis-layout.customgantt .hidden.task-label {
 display: none;
 }

.custom-vis-layout.customgantt .hidden.task-date-label {
 display: none;
 }

.custom-vis-layout.customgantt .task-date-label {
 font-weight: bold;
 }

.custom-vis-layout.customgantt .hidden.milestone-label {
 display: none;
 }

.custom-vis-layout.customgantt .dateline-line {
 stroke: red;
 stroke-width: 2px;
 }

.custom-vis-layout.customgantt .dateline-label {
 fill: grey;
 }

.custom-vis-layout.customgantt .chart {
 font-family: Arial, sans-serif;
 font-size: 12px;
 }

.custom-vis-layout.customgantt .xaxis-group path, .custom-vis-layout.customgantt .xaxis-group line {
 fill: none;
 stroke: rgb(0, 0, 0);
 shape-rendering: crispEdges;
 }

.custom-vis-layout.customgantt .qtr-group path, .custom-vis-layout.customgantt .qtr-group line {
 fill: none;
 stroke: rgb(0, 0, 0);
 shape-rendering: crispEdges;
 }

.custom-vis-layout.customgantt .fy-qtr-group path, .custom-vis-layout.customgantt .fy-qtr-group line {
 fill: none;
 stroke: rgb(0, 0, 0);
 shape-rendering: crispEdges;
 }

.custom-vis-layout.customgantt .fy-group path, .custom-vis-layout.customgantt .fy-group line {
 fill: none;
 stroke: rgb(0, 0, 0);
 shape-rendering: crispEdges;
 }

.custom-vis-layout.customgantt .hidden.xaxis-group {
 display: none;
 }

.custom-vis-layout.customgantt .hidden.qtr-group {
 display: none;
 }

.custom-vis-layout.customgantt .hidden.fy-qtr-group {
 display: none;
 }

.custom-vis-layout.customgantt .hidden.fy-group {
 display: none;
 }

